<% layout('./layout/page') %>
<% block('title', "BrainFuck") %>
<html ng-app="brainApp" xmlns="http://www.w3.org/1999/html">
<body onload="init();" style="margin-top: 50px" ng-controller="View1Controller">
<script language="Javascript" src="/sourse/array.js"></script>
<script src="angular/angular.js"></script>
<script src="/sourse/array.js"></script>
<script src="/sourse/sourseCode.js"></script>
<script type="text/javascript" src="sourse/ng-infinite-scroll.js"></script>
<script src="sourse/infinityScroll.js"></script>
<script src="view1/view1.js"></script>
<script src="/view1/brainApp.js"></script>
<script src="/sourse/array.js"></script>
<script src="/sourse/sourseCode.js"></script>
<script src="/view1/source-service.js"></script>
<script src="/view1/sourcelist.js"></script>
<script src="view1/drop-directive.js"></script>

<div id="page">
    <form name="mainform" id="mainform">
        <table cellspacing="20" cellpadding="0" border="0" align="center" style="margin-top: 50px">
            <tr>
                <td colspan="3" align="center">
                    <nav class="navbar navbar-default" style="min-width: 800px; max-height: 10px; border: solid 2px black">
                        <div class="container-fluid">
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <input style="border-right: solid 2px black; border-left: solid 2px black;" type="button"  value="New" ng-click="new()" id="button_save" class="btn-default btn-sm">
                                    </li>
                                    <li style="padding-right: 20px">
                                        <input style="border-right: solid 2px black;" type="button" ng-click=""  value="Save" ng-click="save()" id="button_save" class="btn-default btn-sm"><span class="sr-only">(current)</span>
                                    </li>
                                    <li>
                                        <input style="border-right: solid 2px black; border-left: solid 2px black;" type="button" ng-click="is_debug = false; setTimeout(0)" value="Run" onclick="run(this.form);" id="button_run" class="btn-default btn-sm"><span class="sr-only">(current)</span>
                                    </li>
                                    <li>
                                        <input style="border-right: solid 2px black" type="button" ng-click="is_debug = true; setTimeout(80)"  value="Start Debugger" onclick="debug_toggle(this.form);" id="button_debug" class="btn-default btn-sm"><span class="sr-only">(current)</span>
                                    </li>
                                    <li>
                                        <input style="border-right: solid 2px black" type="button" ng-click=""  value="Single Step" onclick="run_step();" disabled id="button_step" class="btn-default btn-sm"><span class="sr-only">(current)</span>
                                    </li>
                                    <li>
                                        <input style="border-right: solid 2px black" type="button" ng-click=""  value="Run To Breakpoint" onclick="run_debug();" disabled id="button_run_debug" class="btn-default btn-sm"><span class="sr-only">(current)</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </td>
            </tr>
            <tr>
                <td rowspan="2" valign="top" drop-directive >
                    <p>Files:</p>
                    <div ng-controller="SourceFileListController" style="width: 150px; max-height: 300px; min-height: 396px; overflow: auto; border: rgba(93, 131, 165, 1) 2px solid">
                        <div ng-repeat="file in sourceFiles">
                            <sourcefiles-directive></sourcefiles-directive>
                        </div>
                    </div>
                </td>
                <td style="min-width: 780px; padding-left: 30px; padding-right: 30px" valign="top" >
                    <textarea cols="117" rows="17" id="edit_source" name="source" wrap="virtual" class="edit" ng-model="file.text"></textarea><br><br>
                    Output:<br>
                    <pre class="viewer" id="outputview" style="height: 90px"> </pre>
                </td>
                <td rowspan="2" valign="top">
                    <style>.inuse {background: rgba(93, 131, 165, 1) }</style>
                    <div infinite-scroll="loadMore()" class="scroll" style="min-height: 423px">
                        <div ng-repeat="line in lines" class="viewer">
                           <p><input size="10" disabled="true" type="text" ng-value="'0x'+ $index.toString(16)">
                            <input style="max-width: 60px" ng-class="{inuse: is_debug && getMemory() == $index}" type="text" ng-model="is_debug ? memory[$index] : 0">
                            <input style="margin-right: 10px" size="2" disabled="true" ng-value="is_debug ? tochar(memory[$index]) : 0"></p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr valign="top">
                <td>
                    <b>Note:</b> The hash ("#") character marks a breakpoint.
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>