<% layout('layout/page') -%>
<% block('title', 'Easy paint site!'); %>
<table align="center">
    <tr>
        <td>
            <p class="col-lg-offset-2 lead" style="padding-right: 30px">
                A lot of the greatest prgrammers don't <br> know language BrainFuck.<br><br>
                But You may try here!<br><br>
                Please log or sign in!</p>
        </td>
        <td style="padding-top: 50px"><img src="https://hsto.org/getpro/habr/post_images/171/431/4f6/1714314f691a44ba0f391e891ab92367.png" style="box-shadow: 0 0 50px 15px #1B1E32"/></td>
        <!--http://www.anypics.ru/large/201210/15554.jpg  http://www.pokeroff.ru/_i/uploads/post/2893126-full.jpg http://robl.co/wp-content/uploads/2014/09/apple-galaxy-wallpaper-940x500.jpg-->
    </tr>
    <tr>
        <td></td>
        <td align="right">
            <p class="col-lg-offset-2" style="padding-top: 30px; font-size: 13px ">
            <em>Code Example</em></p>
        </td>
    </tr>
</table>